html, body, #root, #root > div {
    height: 100%;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}




@-webkit-keyframes fadeIn {
    0% {
        font-size:16rem;
        opacity: 0%;
    }
    100% {
        font-size: 20rem;

        opacity: 100%;
    }
  }
  